# Diretórios .terraform locais
**/.terraform/*

# arquivos .tfstate
*.tfstate
*.tfstate.*

# Arquivos de log de falha
crash.log
crash.*.log

# Excluir todos os arquivos .tfvars, que provavelmente contêm dados confidenciais, como
# senha, chaves privadas e outros segredos. Estes não devem fazer parte da versão
# controle, pois são pontos de dados potencialmente sensíveis e sujeitos
# para mudar dependendo do ambiente.
*.tfvars
*.tfvars.json

# Ignora arquivos de substituição, pois eles geralmente são usados para substituir recursos localmente e assim
# não são verificados
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Incluir arquivos de substituição que você deseja adicionar ao controle de versão usando o padrão negado
# !example_override.tf

# Incluir arquivos tfplan para ignorar a saída do plano do comando: terraform plan -out=tfplan
# exemplo: *tfplan*

# Ignora arquivos de configuração CLI
.terraformrc
terraform.rc

.terraform.lock.hcl